<mat-card>
    <h2 mat-dialog-title>Suspend Community Dialog</h2>
      <div mat-dialog-content>
        <p>Are you sure you want to suspend this commuity?</p>

        <form (ngSubmit)="onSubmitSuspend()" [formGroup]="form">
            <mat-form-field>
                <label>Suspend reason: </label>
                <input formControlName="reason" matInput required>
                <span *ngIf="reasonRequired" class="field-error" style="color: red;">Required field.</span>
            </mat-form-field>            
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">SUSPEND</button>
        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>CLOSE</button>
      </div>
    </mat-card>