<h2 style="color: #b71c1c;text-align: center;margin: 30px;font-size: 40px;">Community Reported Posts</h2>
    <div style="display: flex;flex-direction: row;">
        <div style="flex: 1 1 100%;box-sizing: border-box;max-width: 50%;">
            <app-reported-posts-list [community]="community" [reports]="reports" (showPostEmmiter)="showPost($event)"></app-reported-posts-list>
        </div>
        <div style="flex: 1 1 0%;box-sizing: border-box;">
            <app-reported-posts-details [report]="report" *ngIf="report"></app-reported-posts-details>
            <div style="display: flex;" *ngIf="report">
                <button mat-raised-button color="primary" style="margin: auto;" (click)="acceptReport()">Accept</button>
                <button mat-raised-button color="primary" style="margin: auto;" (click)="declineReport()">Decline</button>
            </div>
        </div>
    </div>