<div class="card-wrapper">

    <mat-card class="example-card">
      <mat-card-header>
        <img *ngIf="report.post.user.avatar"
          [src]="imageUser"
          mat-card-avatar />
          <span class="spacer"></span>
        <mat-card-title (click)="showPost()" class="white" style="text-align: center;">{{report.post.title}}</mat-card-title>
        <mat-card-subtitle style="text-align: center;" class="white">
          {{report.post.creationDate| date:"dd.MM.yy"}}  {{report.post.flair.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <img mat-card-image style="width: 150px;" [src]="image" alt="Angular Logo" *ngIf="report.post.imagePath">
        </mat-card-content>
      <mat-card-content>
        <p style="text-align: center;font-size: 18px;">
          {{report.post.text}}
        </p>
        <p style="margin-top: 10px; text-align: end;">
            Posted by: {{report.post.user.username}}
          </p>
      </mat-card-content>
    </mat-card>
  
  </div>