<ul class="list-unstyled">
    <form *ngIf="loggedUser">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label style="font-size: 16px; color: white;">Leave a comment</mat-label>
            <textarea matInput style="font-size: 16px;" style="color: white;" placeholder="Write something..."></textarea>
          </mat-form-field>
          <button mat-icon-button type="submit" class="btn btn-primary pull-right" style="background-color: white;" value="submit"><mat-icon >reply</mat-icon></button>
    </form>
    <li *ngFor="let comment of comments">
      <app-comment-item [comment]="comment" *ngIf="!comment.deleted" (clickedEventEmit)="getChange($event)" (clickedEventEmitDelete)="getDelete($event)"></app-comment-item>
    </li>
  </ul>