.list-unstyled{
    background-color: rgba(31, 31, 31, 0.87);
    border-style: solid;
    border-color: #b71c1c;
    border-radius: 20px;
    border-width: 5px;
    margin: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-size: large;
  }
  
  .example-full-width {
    width: 80%;
    
  }
