<ul class="list-unstyled">
    <form *ngIf="loggedUser && !isBanned" (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label style="font-size: 16px; color: white;">Leave a comment</mat-label>
            <textarea formControlName="text" required matInput style="font-size: 16px;" style="color: white;" placeholder="Write something..."></textarea>
            <span *ngIf="textRequired" class="field-error" style="color: red;">Comment text can not be empty.</span>
          </mat-form-field>
          <button [disabled]="!form.valid" color="primary" mat-icon-button type="submit" class="btn btn-primary pull-right" style="background-color: white;" value="submit"><mat-icon >reply</mat-icon></button>
    </form>
    <li *ngFor="let comment of comments">
      <app-comment-item [isBanned]="isBanned" [comment]="comment" *ngIf="!comment.deleted" (clickedEventEmit)="getChange($event)" (clickedEventEmitDelete)="getDelete($event)"></app-comment-item>
    </li>
  </ul>