.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    border-color: #b71c1c;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;
  }
  mat-card-subtitle{
    display: flex;
  }
  
  mat-card {
    max-width: 350px;
    text-align: center;
    animation: fadein 1s;
    -o-animation: fadein 1s; /* Opera */
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
  
  }

  .editBtn{
    width: fit-content;
    margin-right: 10px;
}
  
  mat-input-container {
    display: block;
  }

  .spacer{
    flex: 1 1 auto;
  }

  .editCard{
    display: flex;
    border: 2px solid #b71c1c;
    margin: 5px;
    color: white;
    background-color: gray;
  }
  
  mat-spinner {
    width: 25px;
    height: 25px;
    margin: 20px auto 0 auto;
  }
  
  button {
    display: block;
    width: 100%;
  }
  
  .error {
    color: #D50000;
  }
  
  .success {
    color: #8BC34A;
  }
  
  a {
    text-decoration: none;
    cursor: auto;
    color: #FFFFFF;
  }
  